﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="NewMember.aspx.cs" Inherits="Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

   
    <h1>New Employee Registration</h1>
    <form id="form1" >
    <table class="auto-style1">
        <tr>

            <td>
                <asp:Label ID="Label2" runat="server">First Name</asp:Label>
               <asp:TextBox ID="fNameTxtBox" runat="server" Text="Last Name" Width="249px"></asp:TextBox></td>
            </td>
            <td>
                <asp:Label ID="Label3" runat="server">Last Name</asp:Label>
                <asp:TextBox ID="TextBox4" runat="server" Text="Last Name" Width="249px"></asp:TextBox></td>
            <td>
                <asp:Label ID="Label1" runat="server" >ID</asp:Label>
                <asp:TextBox ID="TextBox23" runat="server" Width="115px"></asp:TextBox></td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label4" runat="server">Phone(Home)</asp:Label>
                <asp:TextBox ID="TextBox6" runat="server"  Width="194px"></asp:TextBox>
            </td>
            <td>
                <asp:Label ID="Label5" runat="server">Phone(Cell)</asp:Label>
                <asp:TextBox ID="TextBox1" runat="server" Width="192px"></asp:TextBox> 
            </td>
            <td>
                <asp:Label ID="Label6" runat="server">Email Address</asp:Label>
                <asp:TextBox ID="TextBox2" runat="server" Width="196px"></asp:TextBox></td>  
        </tr>
        <tr>
            <td><asp:Label ID="Label7" runat="server">Initial Hire Date</asp:Label></td>
            <td><asp:TextBox ID="TextBox8" runat="server" Text="Initial Hire Date" Width="150px"></asp:TextBox></td> 
            <td><asp:Label ID="Label8" runat="server">Termination Date</asp:Label></td>
            <td> <asp:TextBox ID="TextBox10" runat="server" Text="Termination Date" Width="154px"></asp:TextBox></td>
            <td><asp:Label ID="Label9" runat="server">Estimated Graduation</asp:Label></td>
                <asp:TextBox ID="TextBox3" runat="server" Width="179px"></asp:TextBox></td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label10" runat="server">Cyclical Emp. Begin</asp:Label>
                <asp:TextBox ID="TextBox11" runat="server" Width="145px"></asp:TextBox> </td>
            <td>
                <asp:Label ID="Label11" runat="server">Email Address</asp:Label>
                <asp:TextBox ID="TextBox5" runat="server" Width="151px">Cyclical Emp. End</asp:TextBox></td>
            <td>
                <asp:Label ID="Label12" runat="server">Email Address</asp:Label>
                <asp:TextBox ID="TextBox7" runat="server" >Pay Rate</asp:TextBox></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><asp:TextBox ID="TextBox9" runat="server" >Street Address</asp:TextBox></td>
            <td><asp:TextBox ID="TextBox14" runat="server">City</asp:TextBox></td>
            <td><asp:TextBox ID="TextBox12" runat="server">State</asp:TextBox></td>
            <td><asp:TextBox ID="TextBox13" runat="server">Zipcode</asp:TextBox></td>
            <td><asp:TextBox ID="TextBox20" runat="server">Eligible for rehire</asp:TextBox></td>
        </tr>
        <tr>
            <td><asp:TextBox ID="TextBox15" runat="server">Tutoring Current Level</asp:TextBox></td>
            <td><asp:TextBox ID="TextBox22" runat="server"></asp:TextBox></td>
            <td><asp:TextBox ID="TextBox21" runat="server">City</asp:TextBox></td>
            <td><asp:TextBox ID="TextBox24" runat="server">City</asp:TextBox></td>
            <td><asp:TextBox ID="TextBox25" runat="server">City</asp:TextBox></td>
        </tr>
        <tr>
            <td><asp:TextBox ID="TextBox16" runat="server"></asp:TextBox></td>
            <td><asp:TextBox ID="TextBox17" runat="server"></asp:TextBox></td>
        </tr>
       
    </table>
    <div>
    
    </div>
    </form>

</asp:Content>

